:root {
  // Neutral
	--color-neutral-01: #121516;
	--color-neutral-02: #252b2d;
	--color-neutral-03: #5c6b70;
	--color-neutral-04: #84949a;
	--color-neutral-05: #a5b1b6;
	--color-neutral-06: #c8ced0;
	--color-neutral-07: #e3e6e8;
	--color-neutral-08: #eef0f1;
	--color-neutral-09: #f9fafa;
	--color-neutral-10: #ffffff;
  // Primary
	--color-primary-cyan-process: #00b0f1;
	--color-primary-fashion-fuchsia: #ee008f;
	--color-primary-aureolin-yellow: #fef100;
	--color-primary-lime-green: #00b140;
  // Secondary
	--color-secondary-slate-purple: #7758c0;
	--color-secondary-mandarin-orange: #f67948;
	--color-secondary-sheen-green: #7fd120;
	// Gradients 
	--color-gradient-90-deg: linear-gradient(90deg, rgba(0, 176, 241, 1), rgba(119, 88, 192, 1), rgba(238, 0, 143, 1), rgba(246, 121, 72, 1),rgba(254, 241, 0, 1), rgba(127, 209, 32, 1), rgba(0, 177, 64, 1));
	--color-gradient-45-deg: linear-gradient(45deg, rgba(0, 176, 241, 1), rgba(119, 88, 192, 1), rgba(238, 0, 143, 1), rgba(246, 121, 72, 1),rgba(254, 241, 0, 1), rgba(127, 209, 32, 1), rgba(0, 177, 64, 1));

}