@import "~@lkmx/flare/src/flare";
@import "_color";
@import "_text";
@import "_space";
@import "./pages/shopify-app";
@import "./pages/home";
@import "./pages/products";
@import "./pages/category";
@import "./pages/single-product";
@import "./pages/about-us";
@import "./pages/design-tool";
@import "./pages/full-package-for-brands";
@import "./pages/assi-ppai";
@import "./pages/inkjet-printing";
@import "./pages/cut-sew";
@import "./pages/custom-sourcing";

:root {
  --f-header-text-color: var(--color-neutral-01);
  --f-header-background-color: var(--color-neutral-09);
  --f-section-background-color: var(--color-neutral-09);
  --f-section-content-background-color: var(--color-neutral-10);
  --heading-1-default-height: 53px;
  --heading-2-default-height: 41px;
}

body {
  background-color: var(--color-neutral-09);
  &.fixed {
    position: fixed;
  }
}