@import "~@lkmx/flare/src/flare";
@import "_color";
@import "_text";

:root {
  --f-header-text-color: var(--color-neutral-01);
  --f-header-background-color: var(--color-neutral-08);
}

body {
  background-color: var(--color-neutral-09);
  &.fixed {
    position: fixed;
  }
}