@import "~@lkmx/flare/src/flare";
@import "_color";
@import "_text";

:root {
  --f-header-text-color: var(--color-neutral-01);
  --f-header-background-color: var(--color-gradient-02);  
}

a {
  font-weight: var(--f-paragraph-text-weight);
}