#about-us {
  &__hero {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    background-color: var(--color-primary-fashion-fuchsia);
    &__info {
      .content {
        display: grid;
        align-content: center;
        .box {
          display: grid;
          gap: var(--f-gutter);
          h1, h3, p {
            margin-bottom: 0;
          }
          h3, p {
            color: var(--color-neutral-07);
          }
          h1 {
            color: var(--color-neutral-10);
            @include respond-to("<=m") {
              font-size: 34px;
              line-height: 40.8px;
            }
          }
          p:nth-of-type(1) {
            color: var(--color-neutral-10);
            font-weight: 500;
          }
          strong {
            font-weight: bolder;
          }
        }
      }
    }
    &__image-content {
      .content {
        .box {
          img {
            @include respond-to("<=m") {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  &__info {
    padding-top: var(--column-space-xxl);
    padding-bottom: var(--column-space-xxl);
    @include respond-to("<=m") {
      padding-top: var(--column-space-l);
      padding-bottom: var(--column-space-l);
    }
    .content {
      .box {
        p {
          color: var(--color-neutral-03);
        }
        strong {
          font-weight: bolder;
        }
      }
    }
  }
  &__description {
    padding-top: var(--column-space-xxl);
    padding-bottom: var(--column-space-xxl);
    background-color: var(--color-neutral-10);
    .content {
      display: grid;
      align-items: center;
      .box {
        display: grid;
        gap: var(--f-gutter-l);

        h2 {
          margin-bottom: 0;
          height: 41px;
          color: var(--color-primary-cyan-process);
        }
      }
    }
  }
  &__image-content {
    // background-image: linear-gradient(rgba(0, 176, 241, 0.8), rgba(0, 176, 241, 0.8)), url(./static/img/image-filter.jpg);
    background-image: url(./static/img/about-us-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .content {
      padding-top: var(--column-space-xxl);
      padding-bottom: var(--column-space-xxl);
      .box {
        display: grid;
        gap: var(--f-gutter-l);
        text-align: center;

        h3, h4 {
          margin-bottom: 0;
          color: var(--color-neutral-10);
        }
      }
    }
  }
  &__contact {
    &__title {
      padding-top: var(--column-space-l);
      .content {
        .box {
          display: grid;
          justify-content: center;
          gap: 4px;
          padding-bottom: var(--column-space-xl);
          text-align: center;
          h2, h4 {
            margin-bottom: 0;
          }
          h2 {
            color: var(--color-neutral-03);
            height: 41px;
            @include respond-to("<=m") {
              height: auto;
            }
          }
        }
      }
    }
    &__info {
      padding-bottom: var(--column-space-l);
      gap: var(--f-gutter);
      @include respond-to("<=m") {
        padding: var(--f-gutter);
      }
      .--flare-block {
        padding-bottom: var(--f-gutter);
        .content {
          .box {
            display: grid;
            justify-content: center;
            gap: 10px;
            background-color: var(--color-neutral-10);
            border-radius: 4px;
            height: 100%;
            // padding-top: 0;
            p {
              margin-bottom: 0;
              text-align: center;
              line-height: 18px;
              height: fit-content;
              a {
                text-decoration: none;
                color: var(--color-neutral-01);
                &:hover {
                  color: var(--color-neutral-03);
                }
              }
            }
            img {
              display: block;
              margin: auto;
            }
          }
        }        
      }
    }
  }
  &__our-milestones {
    &__title {
      padding-top: var(--column-space-xxl);
      padding-bottom: var(--column-space-xxl);
      background-color: var(--color-neutral-10);
      @include respond-to("<=m") {
        padding: var(--f-gutter);
        padding-top: var(--column-space-xl);
      }
      .content {
        .box {
          display: grid;
          gap: var(--f-gutter);
          text-align: center;
          @include respond-to("<=s") {
            padding: 0;
          }
          h2, h3 {
            margin-bottom: 0;
          }
          h2 {
            height: 41px;
            color: var(--color-primary-fashion-fuchsia);
          }
          h3 {
            color: var(--color-neutral-04);
            @include respond-to("<=s") {
              font-size: 16px;
              line-height: 22.4px;
            }            
          }
        }
      }
    }
    &__time-line {
      background: var(--color-neutral-10);
      .content {
        .box {
        }
      }
    }    
  }
}