:root {
  --shopify-app-heading-3-color: var()
}

.asi-ppai {
  overflow: hidden;
}
#asi-ppai {
  &__hero {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    background-color: var(--color-primary-cyan-process);
    &__info {
      .content {
        display: grid;
        align-content: center;
        .box {
          display: grid;
          gap: var(--f-gutter);
          h1, h3 {
            color: var(--color-neutral-10);
            margin-bottom: 0;
          }
          ol {
            list-style: unset;
            li {
              list-style-type: decimal;
              color: var(--color-neutral-07);
              margin-bottom: 0;
              list-style-position: inside;
            }
          }
          h1 {
            @include respond-to("<=m") {
              font-size: 34px;
              line-height: 40.8px;
            }
          }
          p {
            color: var(--color-neutral-07);
            margin-bottom: 0;
          }
        }
      }
    }
    &__image-content {
      .content {
        .box {
          img {
            @include respond-to("<=m") {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  &__how-it-works {
    &__title {
      padding-top: var(--column-space-xxl);
      padding-bottom: var(--column-space-l);
      background-color: var(--color-neutral-10);
      h2 {
        height:var(--heading-2-default-height);
        text-align: center;
      }
    }
    &__content {
      padding-bottom: var(--column-space-xxl);
      background-color: var(--color-neutral-10);
      gap: var(--f-gutter-l);
      p,h3 {
        margin-bottom: 0;
      }
      @include respond-to("<=m") {
        padding-left: var(--f-gutter);
        padding-right: var(--f-gutter);
      }
      .content {
        .box {
          display: grid;
          gap: var(--f-gutter);
          text-align: center;
          background-color: var(--color-neutral-09);
          border-radius: 4px;
          padding: var(--f-gutter-l);
          p:nth-of-type(2) {
            color: var(--color-neutral-03);
            a {
              text-decoration: none;
              color: var(--color-neutral-03);
            }
          }
          img {
            display: block;
            margin: auto;
          }
        }
      }
    }
  }
  &__request-quote {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    .content {
      .box {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-auto-flow: column;
        
        @include respond-to("<=m") {
          grid-template-columns: 1fr;
          grid-auto-flow: row;
          gap: var(--f-gutter);
        }

        .btn {
          max-width: 100%;
          height: fit-content;
          align-self: center;
          text-transform: unset;

          @include respond-to("<=m") {
            max-width: 100%;
            text-align: center;
          }
        }
      }
    }
    &__title-content {
      display: grid;
      gap: 4px;
      h3, h4 {
        margin-bottom: 0;
        color: var(--color-neutral-04);
      }
    }
  }
  &__deferentiators {
    &__title {
      padding-top: var(--column-space-l);
      padding-bottom: var(--column-space-l);
      background-color: var(--color-neutral-09);
      h2 {
        height: 41px;
      }
    }
    &__content {
      padding-top: var(--column-space-l);
      padding-bottom: 120px;
      background-color: var(--color-neutral-09);
      @include respond-to("<=m") {
        padding-top: 0;
        padding-bottom: 0;
      }
      .content {
        .box {
        }
      }
      &__card {
        .card {
          &__content--description {
            height: 144px;
            @include respond-to("<=s") { 
              height: auto;
            }
          }
        }
        &__manufacturing {
          .card {
            &__content--description {
              height: auto;
            }
          }
        }
      }
    }
  }
  &__get-started {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    background-color: var(--color-neutral-10);
    .content {
      .box {
        display: grid;
        gap: var(--column-space-xl);
        justify-content: center;
        h2 {
          margin-bottom: 0;
          text-align: center;
          height: 41px;
          @include respond-to("<=m") {
            height: auto;
          }
        }
        .btn {
          justify-self: center;
        }
      }
    }
  }
  .card {
    &__content {
      &--description:nth-of-type(6) {
        height: auto;
      }
    }
  }
}
