#category {
  &__title {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    &__breadcrumb {
      .content {
        .box {
          padding-bottom: 0;
        }
      }
    }
  }
  &__items {
    background-color: var(--color-neutral-10);
    padding-bottom: var(--column-space-l);
  }
}