#cut-sew {
  &__hero {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    background-color: var(--color-primary-cyan-process);
    &__info {
      .content {
        display: grid;
        align-content: center;
        .box {
          display: grid;
          gap: var(--f-gutter);
          h1 {
            color: var(--color-neutral-10);
            margin-bottom: 0;
          }
          h1 {
            @include respond-to("<=m") {
              font-size: 34px;
              line-height: 40.8px;
            }
          }
          h3, p {
            color: var(--color-neutral-07);
            margin-bottom: 0;
          }
        }
      }
    }
    &__image-content {
      .content {
        .box {
          img {
            @include respond-to("<=m") {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  &__options {
    padding-top: var(--column-space-xxl);
    padding-bottom: 120px;
    @include respond-to("<=m")  {
      padding-top: var(--column-space-l);
      padding-bottom: var(--column-space-xxl);
    }
    .content {
      .box {
        display: grid;
        gap: var(--f-gutter);
        h2, p {
          margin-bottom: 0;
        }
        h2 {
          color: var(--color-neutral-03);
        }
        strong {
          font-weight: bolder;
        }
      }
    }
  }
}