.nuxt-content-container {
}
#home {
  &__slider {
    .content {
      .box {
        padding: 0;
      }
    }
  }
  &__title {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    background: var(--color-neutral-10);
    .content {
      .box {
        text-align: center;
        h1 {
          color: var(--color-neutral-03);
        }
      }
    }
  }
  &__what-we-offer {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    background: var(--color-neutral-10);
    @include respond-to("<=s") {
      gap: var(--f-gutter);
    }
    .--flare {
      .content {
        .box {
          display: grid;          
          gap: var(--f-gutter);
          height: 182px;
          h3, p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &__our-services {
    &__title {
      padding-top: var(--column-space-l);
      padding-bottom: var(--column-space-l);
      .content {
        .box {
          display: grid;
          gap: 10px;
          text-align: center;      
          justify-content: center;    
          h1{
            color: var(--color-neutral-03);
            margin-bottom: 0;
          }
          h3{
            color: var(--color-neutral-04);
            margin-bottom: 0;
            justify-self: center;
            @include respond-to(">=l") {
              width: 70%;
            }
          }
        }
      }
    }
    &__cards {
      padding-top: var(--column-space-l);
      padding-bottom: var(--column-space-l);
      gap: var(--f-gutter-l);
      .content {
        .box {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          padding: 0 26px;
          gap: 26px;
          @include respond-to("<=m") {
            grid-template-columns: 1fr 1fr;
            @include respond-to("<=s") {
              grid-template-columns: 1fr
            }
          }
        }
      }
    }
    &__companies {
      &__title-logo {
        padding-top: var(--column-space-xl);
        .content {
          .box {
            padding-bottom: 0;
            h3 {
              text-align: center;
              color: var(--color-neutral-04);
            }
          }
        }
      }
      &__content-logo {
        padding-top: var(--column-space-xl);
        padding-bottom: var(--column-space-xl);
        .content {
          .box {
            display: grid;
            grid-auto-flow: column;
            gap: var(--f-gutter);
            padding-top: 0;
            @include respond-to("<=s") {
              grid-auto-flow: row;
            }
            p {
              margin-bottom: 0;
              display: block;
              margin: auto;
            }
          }
        }
      }
    }
  }
  &__our-milestones {
    &__title {
      padding-top: var(--column-space-l);
      padding-bottom: var(--column-space-l);
      background: var(--color-neutral-10);
      .content {
        .box {
          display: grid;
          gap: 10px;
          text-align: center;      
          justify-content: center;    
          h1{
            color: var(--color-neutral-03);
            margin-bottom: 0;
          }
          h3{
            color: var(--color-neutral-04);
            margin-bottom: 0;
            justify-self: center;
          }
        }
      }
    }
    &__time-line {
      padding-top: var(--column-space-l);
      padding-bottom: 120px;
      background: var(--color-neutral-10);
      .content {
        .box {
        }
      }
    }
  }
}