#products {
  &__title {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    gap: var(--f-gutter);
    &__action-buttons {
      .content {
        .box {
          display: grid;
          grid-auto-flow: column;
          gap: var(--f-gutter);
          align-content: center;
          justify-content: end;
          @include respond-to("<=m") {
            justify-content: start;
            .btn {
              max-width: max-content;
            }
            @include respond-to("<=s") {
              justify-content: unset;
            }
          }
          .btn {
            max-width: 100%;
            height: min-content;
            text-align: center;
          }
        }
      }
    }
  }
  &__subtitle {
    padding-top: var(--column-space-l);
    .content {
      .box {
        h2 {
          margin-bottom: 0;
          color: var(--color-neutral-03);
          height: 41px;
          @include respond-to("<=m") {
            height: auto;
          }
        }
      }
    }
  }

  &__categories {
    padding-bottom: var(--column-space-l);
  }
}