:root {
  --shopify-app-heading-3-color: var()
}

.shopify-app {
  overflow: hidden;
}
#shopify-app {
  &__hero {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    background-color: var(--color-secondary-slate-purple);
    &__info {
      .content {
        display: grid;
        align-content: center;
        .box {
          display: grid;
          gap: var(--f-gutter);
          h1, h3, p {
            margin-bottom: 0;
          }
          h3, p {
            color: var(--color-neutral-07);
          }
          h1 {
            color: var(--color-neutral-10);
            @include respond-to("<=m") {
              font-size: 34px;
              line-height: 40.8px;
            }
          }
          p:nth-of-type(2) {
            text-decoration: none;
            max-width: fit-content;
            border-radius: 4px;
            background: var(--color-primary-cyan-process);
            height: 40px;
            display: grid;
            justify-content: center;
            align-content: center;
            a {
              text-decoration: none;
              color: var(--color-neutral-10);
              padding: 11px var(--f-gutter);
            }
            &:hover {
              background: var(--color-primary-hover);
            }
            @include respond-to("<=s") {
              max-width: 100%;
              text-align: center;
            }
          }
          strong {
            font-weight: bolder;
          }
        }
      }
    }
    &__image-content {
      .content {
        .box {
          img {
            @include respond-to("<=m") {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  &__how-it-works {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    &__title {
      padding-top: var(--column-space-xxl);
      padding-bottom: var(--column-space-l);
      background-color: var(--color-neutral-10);
      h2 {
        height:var(--heading-2-default-height);
        text-align: center;
      }
    }
    &__content {
      padding-bottom: var(--column-space-xxl);
      background-color: var(--color-neutral-10);
      gap: var(--f-gutter-l);
      @include respond-to("<=s") {
        padding: 0 var(--f-gutter);
      }
      p,h3 {
        margin-bottom: 0;
      }
      .content {
        .box {
          display: grid;
          gap: var(--f-gutter);
          text-align: center;
          background-color: var(--color-neutral-09);
          justify-content: center;
          border-radius: 4px;
          height: 100%;
          p {
            color: var(--color-neutral-03);
          }
          img {
            display: block;
            margin: auto;
          }
        }
      }
    }
  }
  &__deferentiators {
    &__title {
      padding-top: var(--column-space-l);
      padding-bottom: var(--column-space-l);
      background-color: var(--color-neutral-09);
      h2 {
        height: 41px;
      }
    }
    &__content {
      padding-top: var(--column-space-l);
      padding-bottom: 120px;
      background-color: var(--color-neutral-09);
      @include respond-to("<=m") {
        padding-top: 0;
        padding-bottom: 0;
      }
      .content {
        .box {
        }
      }
    }
  }
  &__get-started {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    background-color: var(--color-neutral-10);
    .content {
      .box {
        display: grid;
        gap: var(--column-space-xl);
        justify-content: center;
        h2 {
          margin-bottom: 0;
          text-align: center;
          height: 41px;
          @include respond-to("<=m") {
            height: auto;
          }
        }
        p {
          text-decoration: none;
          max-width: fit-content;
          border-radius: 4px;
          background: var(--color-primary-cyan-process);
          height: 40px;
          display: grid;
          justify-content: center;
          align-content: center;
          justify-self: center;
          a {
            text-decoration: none;
            color: var(--color-neutral-10);
            padding: 11px var(--f-gutter);
          }
          &:hover {
            background: var(--color-primary-hover);
          }
          @include respond-to("<=s") {
            justify-self: unset;
            max-width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
