#single-product {
  &__breadcrumb {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    background-color: var(--color-neutral-09);
  }
  &__item {
    padding-bottom: 120px;
    background-color: var(--color-neutral-10);
    &__info {
      .content {
        .box {
          display: grid;
          gap: 32px;
        }
      }

      h1, h3,h4, p {
        margin-bottom: 0;
      }
      h3 {
        color: var(--color-primary-cyan-process);
      }
      p {
        color: var(--color-neutral-03);
      }
      &__content {
        display: grid;
        gap: 4px;
      }
    }
  }
}